
.body{
    background-color: #d8e5f1;
    margin-top: 100px;
    height: 100vh;
}
.create-bg{
    background-color: #e6ecf1;
}
.bg-address ,.address-nav{
    background-color: #337ab7;
}
.color-address{
    color: #337ab7 !important;
}
.contact-title{
    border-bottom: 1px solid #337ab7;
}
.address-btn{
    border: 1px solid #337ab7 !important;

    &:hover{
        background-color: hsla(208, 56%, 46%);
        color: white !important;
    }
}
.create-title{
    border: 1px solid #337ab7 !important;
}
.nav-butns{
    cursor: pointer;
}
.nav-butns:hover{
    background-color: hsl(208, 56%, 43%);
    
}
.form-signup{
    border-radius: 0px 20px 20px 0px;
}
.form-logo{
    border-radius: 20px 0px  0px 20px;
}
label{
    color: hsl(206, 66%, 24%);
}   
.content-box{
    margin-top: 100px;
}
.address-image{
    width: 37px;
    height: 37px !important;
}
.profile-image{
    opacity: 0;
    width: 70px !important;
    height: 70px !important;
}
.image-box{
    width: 115px !important;
    height: 90px !important;
    background-image: url(../images/addImage.png);
    background-position: center;
    background-size: cover;
}
.userDp{
    width: 100px !important;
    height: 100px !important;
}
.modal-confirm {
    color: #636363;
    width: 400px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
  }
  .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
  }
  .modal-confirm .modal-body {
    color: #999;
  }
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
  }
  .modal-confirm .modal-footer a {
    color: #999;
  }
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #3a89ff;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
  }
  .modal-confirm .btn-info {
    background: #c1c1c1;
  }
  .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
  }
  .modal-confirm .btn-danger {
    background: #f15e5e;
  }
  .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
  .view-image {
    box-shadow: 3px 3px 3px solid rgba(0, 0, 0, 0.13);
  }


  .address-btn-create-hover {
    height: 50px;
    border: 1px solid #337ab7;
    color: #fff;
    background: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.address-btn-create-hover:before {
    content: '';
    background: linear-gradient(45deg, #337ab7, #ffffff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100%);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .1s ease-in-out;
    border-radius: 5px;
}

.address-btn-create-hover:active {
    color: #ffffff
}

.address-btn-create-hover:active:after {
    background: transparent;
}

.address-btn-create-hover:hover:before {
    opacity: 1;
}

.address-btn-create-hover:after {
    border: 1px solid #337ab7;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.pdf-download-buttons :hover{
  filter: drop-shadow(0 0 0.2rem crimson);
}
.xl-download-buttons :hover{
  filter: drop-shadow(0 0 0.2rem rgb(4, 146, 40));
}
.prt-download-buttons :hover{
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
  